Source: plainbox-provider-pc-sanity
Section: utils
Priority: optional
Maintainer: Commercial Engineering <commercial-engineering@canonical.com>
Standards-Version: 3.9.7
Build-Depends: debhelper (>= 9), dh-modaliases, intltool, python3-checkbox-ng, plainbox-provider-checkbox, flake8, bats, shellcheck, python3
Vcs-Browser: https://code.launchpad.net/~ville-team/ville/+git/plainbox-provider-pc-sanity

Package: plainbox-provider-pc-sanity
Architecture: all
Depends: plainbox-provider-checkbox (>= 0.27),
         python3 (>= 3.2),
         python3-checkbox-support (>= 0.27),
         ${misc:Depends},
         ${shlibs:Depends}
X-Plainbox-Provider: yes
Description: CheckBox pc sanity jobs provider which forked from plainbox-provider-sru
 This is a provider as staging pool before upstream to ppc.
