Source: plainbox-provider-pc-sanity
Section: utils
Priority: optional
Maintainer: Commercial Engineering <commercial-engineering@canonical.com>
Standards-Version: 3.9.7
Build-Depends: debhelper (>= 9), dh-modaliases
Vcs-Browser: https://code.launchpad.net/~ville-team/ville/+git/plainbox-provider-pc-sanity

Package: plainbox-provider-pc-sanity
Architecture: all
Depends: plainbox-provider-checkbox (>= 0.27),
         python3 (>= 3.2),
         python3-checkbox-support (>= 0.27),
         plainbox-provider-sru,
         ${misc:Depends},
         ${shlibs:Depends}
Description: CheckBox pc sanity jobs provider which inject units to sru plain
 This package provides the SRU (Stable Release Updates) jobs. It is used together
 alongside with Plainbox.
 .
 Jobs are smallest units of testing that can be performed by Plainbox.
 All jobs have an unique name. There are many types of jobs, some are fully
 automated others are fully manual.
 .
 Document: https://checkbox.readthedocs.io/en/latest/
